*.py[cod]
.DS_Store

# C extensions
*.so

# Installer logs
pip-log.txt

# Sublime
*.sublime-project
*.sublime-workspace

# Codekit
config.codekit

# Celery
celerybeat-schedule

# Pycharm
/.idea/

*.egg-info/